html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

/* !!! CSS class naming format !!! */

/* HomePage hp-{name} */
.hp-event-img {
    height: 15rem;
    object-fit: cover;
}

.hp-note-img {
    height: 25rem;
    object-fit: cover;
}

.hp-note-btn {
    transition: background-color 0.3s, color 0.3s;
}

.hp-note-btn:hover {
    background-color: white;
    color: blue;
}

.hp-zoom {
    overflow: hidden;
    transition: transform 0.3s ease;
}
  
.hp-zoom:hover {
    transform: scale(1.03);
}
  

/* EventUp eu-{name} */

/* NoteHub nh-{name} */

/* FlashCard fc-{name} */

/* Profile pf-{name} */