html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.bg-color {
  background-color: #77B5B3;
}

.footer {
  flex-shrink: 0;
}

/* !!! CSS class naming format !!! */

/* HomePage hp-{name} */
.hp-event-img {
    height: 15rem;
    object-fit: cover;
}

.hp-note-img {
    height: 25rem;
    object-fit: cover;
}

.hp-note-btn {
    transition: background-color 0.3s, color 0.3s;
}

.hp-note-btn:hover {
    background-color: white;
    color: blue;
}

.hp-zoom {
    overflow: hidden;
    transition: transform 0.3s ease;
}
  
.hp-zoom:hover {
    transform: scale(1.03);
}
  

/* EventUp eu-{name} */
.eu-event-img {
  height: 20rem;
}

/* NoteHub nh-{name} */

/* FlashCard fc-{name} */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.fc-form-control-lg{
  height: 90px;
  border-width: 3px;
  font-size: 50px;
}

/* This container is needed to position the front and back side */
.scene {
  display: inline-flex;
  width:100%;
  height: 100%; 
  width: 200px;
  height: 260px;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}
.scene--card{
  position:relative; 
  height:auto;
  width: 100%;
  transform-style: preserve-3d;
}

.fc-study-card {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;}

.fc-study-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: black;
  border-width: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: crimson;
  border-width: 3px;
  transform: rotateY(0deg);
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

/* Welcome Page */
.wp-carousel {
  object-fit: cover;
  height: 500px;
  filter: brightness(70%);
}

.wp-profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #000000;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*  */
